:root {
  --responsiveUnit: calc(1vmin + 1vmax);
  --dynamicHeight: 100vh;

  --text: #ffffff;
  --wall: #ffffff;


  --headerHeight: calc(var(--responsiveUnit) *  10);
  --footerHeight: calc(var(--responsiveUnit) * 10);
  --mainHeight: calc(var(--dynamicHeight) - var(--headerHeight) - var(--footerHeight));
}

@supports (height: 100dvh) {
  :root {
    --dynamicHeight: 100dvh;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  min-width: 0;
}

html,
body {
  height: var(--dynamicHeight);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--text);
  background-color: white;
  text-align: center;
  font-family: monospace;
}

header,
footer {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  min-height: var(--headerHeight);
  border-bottom: calc(var(--responsiveUnit) * 0.1) solid var(--light);
}

footer {
  min-height: var(--footerHeight);
  border-top: calc(var(--responsiveUnit) * 0.1) solid var(--light);
}

main {
  min-height: var(--mainHeight);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

a {
  color: var(--tertiary);
}

span#heart {
  color: var(--danger);
}

h1 {
  font-size: calc(var(--responsiveUnit) * 2);
}

h2 {
  font-size: calc(var(--responsiveUnit) * 1);
}

.circulo-container {
  position: relative;
  width: 150px;
  height: 200px;
}

.rastro {
  width: 220px;
  height: 160px;
  background-color: rgb(220, 58, 22);
  clip-path: polygon(38% 93%, 0% 100%, 39% 100%);
  position: absolute;
  bottom: 70px;
  left: 65%;
  transform: translateX(-50%);
}

.circulo {
  width: 90px;
  height: 90px;
  background-color: rgb(8, 8, 91);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.circuloMenor {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
}

.triangulo {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid darkblue;
  position: relative;
}

.triangulo::before,
.triangulo::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: darkblue;
  border-radius: 50%;
}

.triangulo::before {
  top: -15px;
  left: -15px;
}

.triangulo::after {
  top: -15px;
  right: -15px;
}

.triangulo::after {
  bottom: -15px;
  left: calc(50% - 15px);
}



@media (orientation: portrait) {
  :root {
    --headerHeight: calc(var(--responsiveUnit) * 4);
    --footerHeight: calc(var(--responsiveUnit) * 6);
  }

  h1 {
    font-size: calc(var(--responsiveUnit) * 3);
  }

  h2 {
    font-size: calc(var(--responsiveUnit) * 2);
  }
}

